<!DOCTYPE html>
<html>
<head>
    <title>ASA-BOX Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <h1>~ ASA-BOX m2 Control Panel ~</h1>
    <form action="/start" method="post">
      <label for="mode">Mode:</label>
      <select name="mode" id="mode">
          <option value="1">White Noise</option>
          <option value="2">Keys</option>
      </select>
      <button type="submit" style="background-color: darkseagreen;">Start</button>
    </form>
    <div id="volumeWrapper">
      <h2>Volume</h2>
      <input type="range" id="slider" min="0" max="127" value="64" />
      <script>
        const slider = document.getElementById('slider');
        const volumeValue = document.getElementById('volumeValue');

        // Throttle function: only allow sending once every 200ms
        let lastSent = 0;
        const throttleDelay = 200; // milliseconds

        slider.addEventListener('input', () => {
          const now = Date.now();
          if (now - lastSent >= throttleDelay) {
            lastSent = now;
            volumeValue.textContent = slider.value;
            fetch('/vol', {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
              body: `value=${slider.value}`
            });
          }
        });
      </script>

      <!-- <script>
        const slider = document.getElementById('slider');
        slider.addEventListener('input', () => {
          fetch('/vol', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: `value=${slider.value}`
          });
        });
      </script> -->
    </div>
    <!-- <form action="/start" method="post">
        <button type="submit" style="background-color: darkseagreen;">Start</button>
    </form> -->
   
    <form action="/stop" method="post">
        <button type="submit" style="background-color: red;">Stop</button>
    </form>
    
    <form action="/update" method="post">
        <button type="submit" style="background-color: rgb(147, 218, 48);">Update</button>
    </form>
   
    <form action="/shutdown" method="post">
        <button type="submit" style="background-color: pink;">Shutdown</button>
    </form>
</body>
</html>

